*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: red;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: purple;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}
